snippet be
	beforeEach ->
	  ${1}
snippet ae
	afterEach ->
	  ${1}
snippet fn function
	->
	  ${1}
snippet it
	it '${1}', ->
	  ${2}
snippet desc describe
	describe '${1}', ->
	  ${2}
snippet expect
	expect(${1}).to
snippet log
	console.log(${1})
